.home-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

.home-movies-list {
  display: flex;
  gap: 20px;
  align-items: center;
  scroll-behavior: smooth;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  overflow-x: auto;
  flex: 1;
  padding: 5px; // Add some padding to make up for scale transform when hovering
}
